/*======================================================================*\
|| #################################################################### ||
|| # vBulletin 4.1.5 Patch Level 1
|| # ---------------------------------------------------------------- # ||
|| # All code in this file is ©2000-2011 vBulletin Solutions Inc.     # ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- VBULLETIN IS NOT FREE SOFTWARE ---------------- # ||
|| # http://www.vbulletin.com | http://www.vbulletin.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/

/**
* vBulletin 3 Manual Control Panel CSS
*
* Original design by Kier Darby - see http://www.vBulletin.com/docs/html
* This ACP Style is made by Floris - http://www.vBulletin.nl/
*/

/* ############################################################################# */
/* TEXT ELEMENTS */

/* Normal Sized Text */
body, p, td, tr, ol, ul
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* Small Sized Text */
.smallfont, dfn, fieldset, fieldset td, .copyright
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* Table Title Bars */
.tcat, .thead, .tfoot, .optiontitle, .navbody, .navbody td, legend, .darkbg, .tfoot td, .logincontrols td
{
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* Override current font weight and become normal */
.normal
{
	font-weight: normal;
}

/* Display <dfn> tags as block-level elements */
dfn
{
	display: block;
}

/* For those times when you need a monospace font */
.code, .code-g, .code-i, code-c
{
	font: 10pt consolas, 'courier new', courier, monospace;
}


/* ############################################################################# */
/* LINKS */

/* Normal, visited and active links */
a:link, a:visited, a:active
{
	color: #22229C;
	background: none;
}

/* Mouse-over (hover) links */
a:hover
{
	color: #FF4400;
	background: none;
}

/* ############################################################################# */
/* FORM ELEMENTS */

input, select, textarea, option, optgroup
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
optgroup
{
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
}

/* Most form elements appear using this definition */
textarea, .bginput, input.col-c, input.col-i, input.col-g
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}

/* Form elements with the background color defined */
input.bginput, input.col-c, input.col-i, input.col-g
{
	/*padding: 4px;*/
}

/* Submit / Important button elements */
.button, .tfoot input, .logincontrols input
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
/*
	background: #EEF0F2;
	border: outset 1px;
	color: #000000;*/
}

/* ############################################################################# */
/* BODY AND TABLE STYLES */

/* set colored scrollbars */
html
{
	/*scrollbar-base-color: #DDDDDD;
	scrollbar-track-color: #CCCCCC;
	scrollbar-arrow-color: #001F30;
	scrollbar-3dlight-color: #EEEEEE;
	scrollbar-shadow-color: #999999;*/
}

/* Background color and font for the main window */
body
{
	color: #000000;
	background: #FFFFFF;
}

/* Border around tables */
.tborder
{
	background: #D1D1E1;
	color: #000000;
	border: 1px solid #0B198C;
}

/* Top-level table title rows */
.tcat
{
	background: #869BBF;
	color: #FFFFFF;
	font: 11pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	font-weight: bold;
	border-bottom: outset 1px;
	border-bottom-color: #0B198C;
}

/* Links within top-level table title rows */
.tcat a:link, .tcat a:visited
{
	color: #ffffff;
	text-decoration: none;
}
.tcat a:hover, .tcat a:active
{
	color: #FFFF66;
	text-decoration: underline;
}

/* Second-level table titles (often used for column headings) */
td.thead, .thead td
{
	background: #5C7099 repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 2px 4px 2px 4px;
}

/* Links within second-level table titles */
.thead a:link, .thead a:visited
{
	color: #FFFFFF;
}
.thead a:hover, .thead a:active
{
	color: #FFFF00;
}

th
{
	white-space:nowrap;
}

/* The area within which the submit button usually resides at the bottom of tables */
.tfoot
{
	background: #869BBF;
	color: #FFFFFF;
	border-top: outset 1px;
	border-top-color: #0B198C;
}
.tfoot a:link, .tfoot a:visited
{
	color: #E0E0F6;
}
.tfoot a:hover, .tfoot a:active
{
	color: #FFFF66;
}

/* First alternating background color */
.alt1
{
	background: #F5F5FF;
	color: #000000;
}

/* Second alternating background color */
.alt2
{
	background: #E1E4F2;
	color: #000000;
}

/* class used for the login form */
.logincontrols
{
	color: #001F30;
	background: #DEE0E2;
	border: outset 1px;
}

/* status */
.status
{
	color: #001F30;
	background: #DEE0E2;
	padding: 5px;
}

/* Page title banner */
.pagetitle
{
	background: #FFFFFF url("../../cpstyles/vBulletin_3_Manual/vb_logo_small.gif") no-repeat center right;
	color: #738FBF;

	font-size: 16pt;
	font-weight: bold;
	text-align: left;
	border-bottom: outset 1px;
	padding: 2px 12px 0px 12px;
}

/* ############################################################################# */
/* CUSTOMIZED, INHERITED, GLOBAL / STANDARD COLORS */

/* Global/ Standard elements */
.col-g, input.col-g, textarea.col-g, .code-g, .col-g a:link, .col-g a:visited, .col-g a:active, .code
{
	color: #001F30;
}

/* Inherited elements */
.col-i, input.col-i, textarea.col-i, .code-i, .col-i a:link, .col-i a:visited, .col-i a:active
{
	color: #FF5500;
}

/* Customized elements */
.col-c, input.col-c, textarea.col-c, .code-c, .col-c a:link, .col-c a:visited, .col-c a:active
{
	color: #CC0000;
}

/* ############################################################################# */
/* TEMPLATE EDITOR AND COLOR KEYS */

/* The row style for each STYLE bar on template.php */
.stylerow
{
	background: #5C7099;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border-top: outset 1px;
	border-top-color: #0B198C;
}

.stylerow a:link, .stylerow a:visited, .stylerow a:active
{
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}

/* Used for the <select> based template editor and color key legends */
.darkbg
{
	color: #000000;
	background: #FFFFFF;
}

/* Color for template group text */
.templategroup
{
	color: #000000;
}

/* In the <select> based template editor, set a background-color for template groups */
option.templategroup
{
	background: #E1E4F2;
}

/* Color preview buttons on the CSS editor */
.color_input_container {float:left; display:inline; margin-right:4px}
.colorpreview
{
	font-weight: normal;
	background: none;
	border: 1px solid black;
	width: 40px;
	height: 21px;

	float:left;
	display:inline;
	border-style: inset;
	border-width: 1px;
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	-moz-background-clip: -moz-initial;
	-moz-background-origin:	-moz-initial;
	-moz-background-inline-policy: -moz-initial;
}

/* ############################################################################# */
/* TEMPLATE DIFF VIEWER */
.diff-unchanged
{
	background-color: #dddddd;
	color: #000000;
}

.diff-notext
{
	background-color: #c0c0c0;
	color: #000000;
}

.diff-changed
{
	background-color: #f0f060;
	color: #000000;
}

.diff-added, .diff-inline-added
{
	background-color: #B0F0B0;
	color: #000000;
	border: 0 solid #00FF00;
}

.diff-inline-added-start
{
	border-top-width: 1px;
}

.diff-inline-added-end
{
	border-bottom-width: 1px;
}

.diff-deleted, .diff-inline-deleted
{
	background-color: #F0B0B0;
	color: #000000;
	border: 0 solid #EB5858;
}

.diff-inline-deleted-start
{
	border-top-width: 1px
}

.diff-inline-deleted-end
{
	border-bottom-width: 1px;
}

.diff-inline-break
{
	border: solid gray;
	border-width:1px 0;
}

.diff-linenumber
{
	color: #999988;
	background-color: #EEEEDD;
	border-bottom: 1px solid #999988;
	border-right: 1px solid #CCCCCC;
	vertical-align: top;
	text-align: center;
}

.merge-nochange
{
	background-color: #dddddd;
	color: #000000;
}

.merge-successful
{
	background-color: #f0f060;
	color: #000000;
}

.merge-conflict
{
	background: #F0B0B0;
	color: #000000;
}

#compare_inline .merge-conflict
{
	background: #F0B0B0 url(../../cpstyles/vBulletin_3_Default/merge_conflict_bg.png) repeat-y;
	color: #000000;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.merge-conflict-row
{
	padding-left: 20px;
	border-bottom: 1px solid #D04040;
}

.merge-conflict-final-row
{
	padding-left: 20px;
}

.template-text-merged
{
	color: #0000D0;
}

.template-text-conflicted
{
	color: #D00000;
	font-weight: bold;
}


/* ############################################################################# */
/* ACCESS MASK EDITOR */

/* Access is granted to forum */
.am-grant
{
	color: #008000;

}

/* Access is denied to forum */
.am-deny
{
	color: #CC0000;
}

/* ############################################################################# */
/* MODERATOR LISTING */

/* Moderator was last online today */
.modtoday
{
	color: #001F30;
}

/* Moderator was last online yesterday */
.modyesterday
{
	color: #008000;
}

/* Moderator was last online within the last 10 days */
.modlasttendays
{
	color: #0000CD;
}

/* Moderator has not been on in the last 10 days */
.modsincetendays
{
	color: #FF5500;
}

/* Moderator has not been on in last 30 days */
.modsincethirtydays
{
	color: #CC0000;
}

/* ############################################################################# */
/* LIST ELEMENT TYPES */

/* list elements with a square bullet */
.lsq
{
	list-style-type: square;
}
/* list elements with a hollow circle bullet */
.lci
{
	list-style-type: circle;
}
/* list elements with a solid circle bullet */
.ldi
{
	list-style-type: disc;
}
/* list elements with NO bullet */
.lno
{
	list-style-type: none;
}

/* ############################################################################# */
/* MISC */

/* The row style for individual option titles in the vBulletin settings/options editor */
.optiontitle
{
	background: #5C7099 repeat-x top left;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.optiontitle a:link, .optiontitle a:visited
{
	color: #FFFFFF;
}
.optiontitle a:active, .optiontitle a:hover
{
	color: #FFFF00;
}

/* Style for all (Help) links */
.helplink
{
	font-size: 10px;
	text-decoration: none;
	cursor: help;
}

/* Titles for <fieldset> elements */
legend
{
	font-weight: bold;
}

/* vBulletin copyright text shown at the bottom of most control panel pages */
a.copyright:link, a.copyright:visited, a.copyright:active
{
	text-decoration: none;
	color: #869BBF;
	border-top: dashed 1px #869BBF;
	padding: 1px;
}

/* Add a little style to all <hr /> elements */
hr
{
	border-top: solid 1px #22229C;
	height: 0px;
}

/* Usergroup entry for lists in permission editors */
.usergroups li
{
	font: 11px tahoma;
	list-style-type: disc;
}

ul.cbsubgroup
{
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
	list-style: none inside;
}

ul.cbsubgroup li
{
	font-style: italic;
}

.cbsubgroup-trigger img
{
	border:none;
	vertical-align: bottom;
}
/* ############################################################################# */
/* NAV PANEL ELEMENTS */

/* Background color for nav panels and the template editor */
.navbody, .stylebg
{
	background: #D5D8E5;
	color: #000000;
}

/* Text decoration for all links in nav panel */
.navbody a:link, .navbody a:visited, .navbody a:active
{
	text-decoration: none;
	color: #22229C;
}
.navbody a:hover
{
	text-decoration: underline;
	color: #FF4400;
}

/* Text decoration for all links in nav panel */
.navgroup a:link, .navgroup a:visited, .navgroup a:active, .navgroup a:hover
{
	text-decoration: none;
	color: #000000;
}

/* Expandable nav group titles */
.navtitle
{
	background: #869BBF;
	color: #FFFFFF;
	font: bold 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	border: solid 1px #0B198C;
	padding: 3px;
	margin-top: 3px;
	cursor: default;
}

/* Container for individual nav links */
.navgroup
{
	border: solid 1px #0B198C;
	border-width: 0px 1px 1px 1px;
	margin-bottom: 8px;
}

/* Individual nav links */
a.navlink
{
	padding: 2px 4px 2px 4px;
	display: block;
	outline: 0 none;
	-moz-outline-style: 0 none;
}

/* Normal nav link */
.navlink:link, .navlink:visited
{
	background: #D1D1E1;
}

/* Mouse-over nav link  */
a.navlink:hover
{
	background: #738FBF;
	color: white;
}

/* Progress dots for XML import */
.progress_dots
{
	color: orange;
	font-weight:bold;
}

/* ############################################################################# */
/* Layout Manager */
.widget_container
{
	list-style:none;
	margin:6px;
	border: 1px solid black;
}
.widget_title
{
	background-color:#808080;
	text-align:center;
	font: 12px tahoma;
	height:25px;
	position:relative;
}
.widget_title_primary
{
	background-color:#DC143C;
}
.widget_title div.title {
	padding:4px;
	margin-right:19px;
	overflow:hidden;
	white-space:nowrap;
	_width:60%;
}
.widget_title div.closebutton
{
	position:absolute;
	right:2px;
	top:2px;
	padding:0;
	cursor:pointer;
	border:1px solid white;
	background-color:black;
	color:white;
	width:11px;
	height:11px;
	font-size:10px;
	font-weight:bold;
	font-family:verdana,geneva,lucida,'lucida grande',arial,helvetica,sans-serif;
	line-height:0.8;
}

.widget_title div.closebutton:hover {
	background-color:#CC3333;
}
.widget_description
{
	background-color:#D3D3D3;
	padding:4px;
	padding-top:10px;
	font:12px tahoma;
	text-align:center;
	height:40px;
}
.widget_description_primary
{
	background-color:#F08080;
}
.list_no_decoration
{
	list-style:none;
	margin:0px;
	padding:1px;
}
.yui-header, .yui-footer
{
	background-color:#4682B4;
}
.yui-panel
{
	background-color:#AFEEEE;
}
.yui-sidebar
{
	background-color:#6699FF;
}

/* added for cms */
.section_name
{
	border:1px solid #5C7099;
	color: #5c7099;
}

#sections {
	border: 1px solid #0B198C;
	background: #E1E4F2;
}

#sections div {
	padding: 10px;
}

tr.selected_parent_row td {
	background: #869BBF;
	color: #FFFFFF;
	font: 11pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	font-weight: bold;
	border: outset 1px;
	border-color: #0B198C;
}

tr.selected_parent_row td .sectionTitleWrapper a {
	font-size:16px;
	color: white;
}

/*======================================================================*\
|| ####################################################################
|| # Downloaded: 01:57, Mon Sep 12th 2011
|| # CVS: $RCSfile$ - $Revision: 40651 $
|| ####################################################################
\*======================================================================*/
